<%= form_for @story do |f| %>
<% if @story.errors.any? %>
	<div id="error explanation">
		<h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from saving:</h2>
		<ul>
			<% @story.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
		<% end %>

	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<p><%= f.label :link %></p>
	<p><%= f.text_field :link %></p>
	<p><%= f.label :category %></p>
	<p><%= f.text_field :category %></p>
	<p><%= f.label :upvotes %></p>
	<p><%= f.text_field :upvotes %></p>
	<p><%= f.button %></p>
<% end %>